*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: notosans-regular;
    font-size: 13px;
    outline: none;
    text-transform: none;
    text-decoration: none;
}

@font-face {
    font-family: notosans-regular;
    src: url(../../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: notosans-bold;
    font-size: 700;
    src: url(../../assets/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: notosans-italic;
    src: url(../../assets/fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
    font-family: notosans-semibold;
    src: url(../../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
} 

::-webkit-scrollbar-thumb {
    background-color: #b8bcc3;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

.mi{
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
    cursor: pointer;
}
.mi-24{
    height: 24px;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
}
.mi-14{
    height: 14px;
    width: 14px;
    min-width: 14px;
    min-height: 14px;
}
.mi-18{
    height: 18px;
    width: 18px;
    min-width: 18px;
    min-height: 18px;
}
.mi-32{
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}
.mi-48{
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
}
.mi-16{
    height: 16px !important;
    width: 16px !important;
    min-width: 16px;
    min-height: 16px;
}

.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}

.w-half{
    width: 50%;
}

.w-full{
    width: 100;
}

.form-container .title-form{
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
}

.btn{
    border: 1px solid #8d9096;
    padding: 8px 20px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ffffff;
}

.btn:hover{
    background-color: #d2d3d6;
}

.btn-save{
    background-color: #2ca01c;
    color: #ffffff;
}

.btn-save:hover{
    background-color: #35bf22;
}

input[type=checkbox]:checked + label .div-checkbox{
    background-position: -1224px -361px;
    border-color: #2ca01c !important;
} 
.div-checkbox{
    border: 1px solid #afafaf;
    border-radius: 2px;
    height: 18px !important;
    width: 18px !important;
    margin-right: 10px;
}

.btn-confirm{
    color: #ffffff;
    background-color: #2ca01c !important;
}
.btn-confirm:hover{
    background-color: #35bf22 !important;
}
.btn-default{
    margin-right: 12px;
}

.pb-6{
    padding-bottom: 6px;
}

.mr-12{
    margin-right: 12px;
}

.mb-12{
    margin-bottom: 12px;
}