.header{
    display: flex;
    align-items: center;
    height: 51px;
    background-color: #ffffff;
    z-index: 100000;
}
.header .resize-menu{
    margin-left: 10px;
    margin-right: 10px;
    background-position: -843px -30px;
}

.header .title{
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    max-width: 600px;
    text-overflow: ellipsis;
    transition: all .2s ease;
    font-size: 14px;
    color: #111111;
}


