#condition-form table tbody input{
    width: 75px;
    height: 85%;
    border-radius: 6px;
    border: 1px solid #babec5;
    padding: 0 4px;
}

#condition-form table tbody input:focus{
    border-color: #2ca01c;
}

#condition-form .footer{
    position: relative;
    display: flex;
    background: #fff;
    width: 568px;
    padding: 10px;
    align-items: center;
    padding-left: 14px;
    border: 1px solid #babec5;
    border-left: unset;
    border-top: unset;
}
#condition-form .footer2{
    width: 397px !important;
}
#condition-form #amount-result{
    margin-left: 32px;
}

#condition-form #amount-result label{
    font-weight: 600;
    font-size: 14px;
    padding: 10px 5px;
}

#condition-form #amount-result div{
    padding: 5px;
}

#condition-form #amount-result input{
    width: 75px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #babec5;
    padding: 0 4px; 
}

#condition-form #amount-result input:focus{
    border-color: #4ea344 !important;
}

#option-content{
    height: 400px;
    overflow: auto;
    width: 396px;
    background-color: #fff;
    border: 1px solid #babec5;
    border-left: unset;
}

#option-content .option-p{
    padding: 12px;
    padding-left: 40px;
}

#condition-form .title-option{
    background-color: #eceef1;
    margin-top: 50px;
    border-right: 1px solid #babec5;
    width: 396px !important;
    padding-left: 40px;
}

#condition-form .check-define{
    background-color: #eceef1;
    width: 396px;
    border-right: 1px solid #babec5;
    padding: 5px;
    padding-left: 40px;
    padding-bottom: 10px;
}

